<div class="container">

  <!-- Header -->
  <header>
    <h1>Mes Tâches</h1>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </header>

  <section class="search">
    <input type="text"
          placeholder="Rechercher..."
          (input)="onSearch($event.target.value)">
  </section>

  <section class="add">
    <input type="text"
          #todoInput placeholder="Nouvelle tâche..."
          (keyup.enter)="addTodo(todoInput.value); todoInput.value=''">
    <button (click)="addTodo(todoInput.value); todoInput.value=''">+</button>
  </section>

  <ul>
    <li *ngFor="let todo of filteredTodos">
      {{ todo.title }}
    </li>
  </ul>


  <!-- Chargement -->
  @if (isLoading()) {
    <div class="skeleton" animate.enter="fadeIn"></div>
    <div class="skeleton" animate.enter="fadeIn"></div>
    <div class="skeleton" animate.enter="fadeIn"></div>
  }

  <!-- Liste -->
  @else {
    <section class="todos">
      @for (todo of todos(); track todo.id) {
        <article class="todo-item" animate.enter="slideIn" animate.leave="slideOut">
          <label class="checkbox">
            <input type="checkbox" [checked]="todo.completed" (change)="toggle(todo)">
            <span class="checkmark"></span>
          </label>
          <span [class.completed]="todo.completed">{{ todo.title }}</span>
          <button mat-icon-button color="warn" (click)="delete(todo.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </article>
      } @empty {
        <div class="empty" animate.enter="fadeIn">
          <mat-icon>check_circle</mat-icon>
          <p>Aucune tâche ! Profite</p>
        </div>
      }
    </section>
  }
</div>
